body {
    height: 100vh;
    background: url(../img/twilight2.svg);
}

button {
    cursor: pointer;
}

.wrapper {
    font-family: 'RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght';
    font-size: 24px;
}