@font-face {
  font-family: 'RobotoFlex-Regular';
  src: url('RobotoFlex-Regular.svg#RobotoFlex-Regular') format('svg'),
       url('RobotoFlex-Regular.ttf') format('truetype'),
       url('RobotoFlex-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght';
  src: url('RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.eot');
  src: url('RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.eot?#iefix') format('embedded-opentype'),
       url('RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

